body, html {
    padding: 0;
}

.floatTL {
    position: absolute;
    top: 0px;
    left: 0px;
}

#bottomBar {
    background: rgb(250, 150, 50);
    bottom: 0px;
    font-weight: bold;
    position: fixed;
    text-align: center;
    width: 100%;
}
